<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
        <!-- 반응형 메타 태그 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 폼 통합</title>
    <link rel="stylesheet" href="../../resources/css/main.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../resources/css/front-end/css3.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <header id="header">
            <section class="header" id="header1">
                <a href="../../index.html">
                    <img src="../../resources/img/main/global_logo.jpg" id="home-logo" alt="Home Logo">
                </a>
            </section>

            <section class="header" id="header2">
                <form id="search-form">
                    <input type="text" id="search-input" class="custom-form-control" name="search-input" placeholder="검색...">
                    <div id="search-btn-area">
                        <!-- <button type="submit" id="search-btn">검색</button> -->
                    </div>
                </form>
            </section>

            <section class="header" id="header3">
                <div id="login">
                    <a href="../../views/member/login.html">로그인</a>
                    <a href="../../views/member/CreateAccount.html">회원가입</a>
                </div>
            </section>
        </header>
        <!-- masthead -->
        <header id="masthead">
            <section class="header" id="header-img-area">
                <a href="../../index.html">
                    <img src="../../resources/img/main/bg.gif" id="home-bg" alt="Home home-bg">
                </a>
            </section>
        </header>
        <!-- masthead end -->

        <nav id="navigator">
            <ul id="navi">
                <li><a href="../../views/java/java.html">Java</a>
                    <ul>
                        <li><a href="../../views/java/oop.html">객체지향</a></li>
                        <li><a href="../../views/java/abstraction.html">추상화와 캡슐화</a></li>
                        <li><a href="../../views/java/inheritance.html">상속</a></li>
                        <li><a href="../../views/java/polymorphism.html">다형성</a></li>
                    </ul>
                </li>
                <li><a href="#">Oracle</a></li>
                <li><a href="../../views/front-end/front-end.html">Front-End</a>
                    <ul>
                        <li><a href="../../views/front-end/html5.html">HTML5</a></li>
                        <li><a href="../../views/front-end/css3.html">CSS3</a></li>
                        <li><a href="../../views/front-end/javascript.html">JavaScript</a></li>
                        <li><a href="#">JQuery</a></li>
                    </ul>
                </li>
                <li><a href="#">Server</a>
                    <ul>
                        <li><a href="#">JDBC</a></li>
                        <li><a href="#">Servlet</a></li>
                        <li><a href="#">JSP</a></li>
                        <li><a href="#">AJAX</a></li>
                    </ul>
                </li>
                <li><a href="#">Framework</a>
                    <ul>
                        <li><a href="#">Spring</a></li>
                        <li><a href="#">MyBatis</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <section id="content">
            <aside id="content-1"></aside>
            <section id="content-2">
                <div align="center" style="font-family: 굴림;">
                    <h1>CSS3(Cascading Style Sheets)란?</h1>
                    <hr>
                </div>
                    <div style="font-family: 굴림;">
                        <div align="center" >
                            <img src="../../resources/img/front-end/css.png">
                        </div>
                        <li>사용자에게 문서를 표시하는 방법을 지정하는 언어이다.</li>
                        문서는 일반적으로 마크 업 언어를 사용하여 구성된 텍스트 파일이다. <br>
                        HTML이 가장 일반적인 마크 업 언어이지만, SVG또는 XML과 같은<br>
                        다른 마크 업 언어를 사용할 수도 있다.

                       <li> CSS는 매우 기본적인 텍스트 문서 스타일링에 사용될 수 있다.</li> <br>
                       
                        <div style="font-family: 굴림;">
                            <div align="center">
                                <h1>CSS 설명</h1>
                                <hr>
                            </div>
                            
                            <li>HTML이 웹 문서의 가장 일반적인 형식이지만 형태 편집의 한계를 보안하기 위해<br>
                            만들어 진 것이 CSS이다.</li>
                            <br>
                            <li>스타일(글꼴, 줄간격, 사운드 등)을 첨부 할 수 있게하는 스타일 시트 언어이다.</li>
                            <br>
                            <li>단순화된 웹문서에 스타일을 지정해 줄 수 있는 확장기능이다.</li>
                            <br>
                            <div style="font-family: 굴림;">
                                <h1>기초 코드 예시</h1>
                                <div align="center">
                                    <img src="../../resources/img/front-end/css_result.png">
                            

                                </div>
                            </div>
                            <h1>CSS의 장점</h1>
                            <li><h1>기능의 확장성</h1> - HTML의 대부분의 요소들의 단순한 기능에 다양한 기능을 추가할 수 있다.</li>
                            <li><h1>양식의 모듈화</h1> - 전체 웹 사이트에 같은 문서양식으로 전체를 구성할 수 있다.</li>
                            <li><h1>간편성</h1> - 문서의 형식을 쉽고 다양하게 구성할 수 있다.</li>
                                <br>
                            <h1>CSS의 단점</h1>
                            <li>양대 브라우저가 다른 방식으로 지원</li>
                            
                        </div>
                    </div>
            </section>
            <section id="content-3">
                <article id="content-3-2"></article>
            </section>
        </section>
    </div>

    <footer id="footer">
        <section id="footer1">
            <a href="#">이용약관</a> |
            <a href="#">개인정보처리방침</a> |
            <a href="#">FAQ</a> |
            <a href="#">고객센터</a> |
            <a href="#">사이트맵</a>
        </section>
        <section id="footer2">
            <p>© 2024 전체 폼 통합. All rights reserved.</p>
            <p>이 사이트는 학습 목적으로 제작되었습니다.</p>
        </section>
    </footer>
</body>
</html>
