<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
        <!-- 반응형 메타 태그 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 폼 통합</title>
    <link rel="stylesheet" href="../../resources/css/main.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../resources/css/front-end/front-end.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <header id="header">
            <section class="header" id="header1">
                <a href="../../index.html">
                    <img src="../../resources/img/main/global_logo.jpg" id="home-logo" alt="Home Logo">
                </a>
            </section>

            <section class="header" id="header2">
                <form id="search-form">
                    <input type="text" id="search-input" class="custom-form-control" name="search-input" placeholder="검색...">
                    <div id="search-btn-area">
                        <!-- <button type="submit" id="search-btn">검색</button> -->
                    </div>
                </form>
            </section>

            <section class="header" id="header3">
                <div id="login">
                    <a href="../../views/member/login.html">로그인</a>
                    <a href="../../views/member/CreateAccount.html">회원가입</a>
                </div>
            </section>
        </header>
        <!-- masthead -->
        <header id="masthead">
            <section class="header" id="header-img-area">
                <a href="../../index.html">
                    <img src="../../resources/img/main/bg.gif" id="home-bg" alt="Home home-bg">
                </a>
            </section>
        </header>
        <!-- masthead end -->

        <nav id="navigator">
            <ul id="navi">
                <li><a href="../../views/java/java.html">Java</a>
                    <ul>
                        <li><a href="../../views/java/oop.html">객체지향</a></li>
                        <li><a href="../../views/java/abstraction.html">추상화와 캡슐화</a></li>
                        <li><a href="../../views/java/inheritance.html">상속</a></li>
                        <li><a href="../../views/java/polymorphism.html">다형성</a></li>
                    </ul>
                </li>
                <li><a href="../oracle/oracle.html">Oracle</a></li>
                <li><a href="../../views/front-end/front-end.html">Front-End</a>
                    <ul>
                        <li><a href="../../views/front-end/html5.html">HTML5</a></li>
                        <li><a href="../../views/front-end/css3.html">CSS3</a></li>
                        <li><a href="../../views/front-end/javascript.html">JavaScript</a></li>
                        <li><a href="#">JQuery</a></li>
                    </ul>
                </li>
                <li><a href="#">Server</a>
                    <ul>
                        <li><a href="../server/jdbc.html">JDBC</a></li>
                        <li><a href="#">Servlet</a></li>
                        <li><a href="#">JSP</a></li>
                        <li><a href="#">AJAX</a></li>
                    </ul>
                </li>
                <li><a href="#">Framework</a>
                    <ul>
                        <li><a href="#">Spring</a></li>
                        <li><a href="#">MyBatis</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <section id="content">
            <aside id="content-1"></aside>
            <section id="content-2">
                <div align="center" style="font-family: 굴림;">
                    <h1>프론트엔드(Front-end)란?</h1>
                    <hr>
                </div>
                    <div style="font-family: 굴림;">
                        <div align="center" >
                            <img src="../../resources/img/front-end/front-end-img2.png">
                        </div>
                        <li>프론트엔드는 웹사이트나 앱 등의 사용사 인터페이스(UI)를 개발하는 분야를 말한다.</li>
                        사용자가 실제로 보고 상호작용하는 부분을 담당하는데, HTML, CSS, JavaScript 등의 프로그래밍 언어를
                        사용하여 웹사이트나 앱의 디자인과 기능을 구현한다. <br>

                       <li> 프론트엔드 개발자는 사용자 경험(UX)을 개선하기 위해 레이아웃, 색상, 글꼴 등의
                        디자인 요소를 조율하고, 사용자가 버튼을 클릭하거나 입력한 정보를 처리하는 등의 기능을 구현합니다.</li> <br>
                       <li> 또한, 웹사이트나 앱의 반응성(Responsiveness)을 향상시키기 위해
                        다양한 디바이스에서 동작하는 코드를 작성하는 등의 작업도 수행합니다.</li><br>

                        <div style="font-family: 굴림;">
                            <div align="center">
                                <h1>프론트엔드 설명</h1>
                                <hr>
                            </div>
                            <h1>특징</h1>
                            <li>사용자와 직접 상호작용하는 부분을 담당한다.</li>
                            <li>웹 및 앱의 시각적인 부분을 구현하고 사용자 경험을 개선한다.</li>
                            <li>사용자 인터페이스(UI)를 디자인하고 개발한다.</li>
                            <li>프론트엔드 개발자는 디자이너와 긴밀한 협업을 한다.</li>
                            
                            <h1>사용하는 언어와 필요한 기술</h1>
                            <li>주로 HTML, CSS, JavaScript를 사용한다.</li>
                            <li>프레임워크와 라이브러리로 React, Angular, Vue.js 등이 널리 사용된다.</li>
                            <li>웹 표준, 반응형 웹 디자인, 웹 접근성 등의 기술에 대한 이해가 필요하다.</li>

                            <h1>프론트엔드 마인드맵</h1>
                            <li>사용자 인터페이스(UI) 디자인</li>
                            <li>웹 기술과 웹 표준에 대한 이해</li>
                            <li>사용자 경험(UX) 개선</li>
                            <li>디자이너와 협업</li>
                            <li>브라우저 동작 원리에 대한 이해</li>
                        </div>
                    </div>
                </div>
            </section>
            <section id="content-3">
                <article id="content-3-2"></article>
            </section>
        </section>
    </div>

    <footer id="footer">
        <section id="footer1">
            <a href="#">이용약관</a> |
            <a href="#">개인정보처리방침</a> |
            <a href="#">FAQ</a> |
            <a href="#">고객센터</a> |
            <a href="#">사이트맵</a>
        </section>
        <section id="footer2">
            <p>© 2024 전체 폼 통합. All rights reserved.</p>
            <p>이 사이트는 학습 목적으로 제작되었습니다.</p>
        </section>
    </footer>
</body>
</html>
