<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <!-- 반응형 메타 태그 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 폼 통합</title>
    <link rel="stylesheet" href="../../resources/css/server/jdbc.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        <header id="header">
            <section class="header" id="header1">
                <a href="../../index.html">
                    <img src="../../resources/img/main/global_logo.jpg" id="home-logo" alt="Home Logo">
                </a>
            </section>

            <section class="header" id="header2">
                <form id="search-form">
                    <input type="text" id="search-input" class="custom-form-control" name="search-input"
                        placeholder="검색...">
                    <div id="search-btn-area">
                        <!-- <button type="submit" id="search-btn">검색</button> -->
                    </div>
                </form>
            </section>

            <section class="header" id="header3">
                <div id="login">
                    <a href="../member/login.html">로그인</a>
                    <a href="../member/createAccount.html" onclick="">회원가입</a>
                </div>
            </section>
        </header>
        <!-- masthead -->
        <header id="masthead">
            <section class="header" id="header-img-area">
                <a href="../../index.html">
                    <img src="../../resources/img/main/bg.gif" id="home-bg" alt="Home home-bg">
                </a>
            </section>
        </header>
        <!-- masthead end -->

        <nav id="navigator">
            <ul id="navi">
                <li><a href="../java/java.html">Java</a>
                    <ul>
                        <li><a href="../java/oop.html">객체지향</a></li>
                        <li><a href="../java/abstraction.html">추상화와 캡슐화</a></li>
                        <li><a href="../java/inheritance.html">상속</a></li>
                        <li><a href="../java/polymorphism.html">다형성</a></li>
                    </ul>
                </li>
                <li><a href="#">Oracle</a></li>
                <li><a href="#">Front-End</a>
                    <ul>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">CSS3</a></li>
                        <li><a href="#">JavaScript</a></li>
                        <li><a href="#">JQuery</a></li>
                    </ul>
                </li>
                <li><a href="#">Server</a>
                    <ul>
                        <li><a href="jdbc.html">JDBC</a></li>
                        <li><a href="#">Servlet</a></li>
                        <li><a href="#">JSP</a></li>
                        <li><a href="#">AJAX</a></li>
                    </ul>
                </li>
                <li><a href="#">Framework</a>
                    <ul>
                        <li><a href="#">Spring</a></li>
                        <li><a href="#">MyBatis</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <section id="content">
            <aside id="content-1"></aside>
            <section id="content-2">
                <div class="content">
                    <h1>JDBC란(Java Database Connectivity)?</h1>
                    <hr>
                </div>
                <div>

                    <p>Java 기반 애플리케이션의 데이터를 데이터베이스에 저장 및 업데이트하거나, 데이터베이스에 저장된 데이터를 Java에서 사용할 수 있도록 하는 자바 API이다.<br>
                        JDBC는 Java 애플리케이션에서 데이터베이스에 접근하기 위해 JDBC API를 사용하여 데이터베이스에 연동할 수 있으며, <br>
                        데이터베이스에서 자료를 쿼리(Query)하거나 업데이트하는 방법을 제공한다.</p>



                    <div class="content">
                        <h1>JDBC의 표준</h1>
                    </div>
                    <hr>
                    <div class="content">
                        <img class="java_img" src="../../resources/img/server/jdbc.png" alt="java_img">

                    </div>

                    <p>
                        JDBC는 3가지 기능을 표준 인터페이스로 정의하여 제공한다.
                        <li>java.sql.Connection - 연결</li>
                        <li>java.sql.Statement - SQL을 담은 내용</li>
                        <li>java.sql.ResultSet - SQL 요청 응답</li>

                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Spring Data JDBC, Spring Data JPA 등과 같은 기술이 등장하면서 JDBC API를 직접적으로
                        사용하는 일은 줄어들었다.<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;하지만, Spring Data JDBC, Sprind Data JPA와 같은 기술도 데이터베이스와 연동하기 위해
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;내부적으로 JDBC를 이용하기 때문에 JDBC의 동작
                        흐름에 대해 알 필요가 있다.</p>
                    </p>
                    <div class="content">
                        <h1>JDBC의 동작 흐름</h1>
                    </div>
                    <div class="content">
                        <img class="java_exe" src="../../resources/img/server/jdbc_1.png" alt="java_img_2">
                    </div>
                    <p>JDBC는 Java 애플리케이션 내에서 JDBC API를 사용하여 데이터베이스에 접근하는 단순한 구조이다.
                        <br>JDBC API를 사용하기 위해서는 JDBC 드라이버를 먼저 로딩한 후 데이터베이스와 연결하게 된다.
                    </p>
                    <strong>JDBC 드라이버</strong>
                    <li>데이터베이스와의 통신을 담당하는 인터페이스</li>
                    <li>Oracle, MS SQL, MySQL 등과 같은 데이터베이스에 알맞은 JDBC 드라이버를 구현하여 제공</li>
                    <li>JDBC 드라이버의 구현체를 이용해서 특정 벤더의 데이터베이스에 접근할 수 있음</li>
                    <div class="content">
                        <h1>JDBC API 사용 흐름</h1>
                    </div>
                    <div class="content">
                        <img class="java_exe_1" src="../../resources/img/server/jdbc_2.png" alt="java_img_2">
                    </div>
                    <li>JDBC 드라이버 로딩 : 사용하고자 하는 JDBC 드라이버를 로딩한다. JDBC 드라이버는 DriverManager 클래스를 통해 로딩된다.</li>
                    <li>Connection 객체 생성 : JDBC 드라이버가 정상적으로 로딩되면 DriverManager를 통해 데이터베이스와
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;연결되는 세션(Session)인 Connection
                        객체를 생성한다.</li>
                    <li>Statement 객체 생성 : Statement 객체는 작성된 SQL 쿼리문을 실행하기 위한 객체로 정적 SQL 쿼리 문자열을 입력으로 가진다.</li>
                    <li>Query 실행 : 생성된 Statement 객체를 이용하여 입력한 SQL 쿼리를 실행한다.</li>
                    <li>ResultSet 객체로부터 데이터 조회 : 실행된 SQL 쿼리문에 대한 결과 데이터 셋이다.</li>
                    <li>ResultSet, Statement, Connection 객체들의 Close : JDBC API를 통해 사용된 객체들은 생성된 객체들을 사용한 순서의 역순으로 Close
                        한다.</li>
                </div>
                <div class="content">
                    <h1>커넥션 풀(Connection Pool)</h1>
                </div>
                <div class="content">
                    <img class="java_exe_2" src="../../resources/img/server/jdbc_3.png" alt="java_img_3">
                </div>
                <p>JDBC API를 사용하여 데이터베이스와 연결하기 위해 Connection 객체를 생성하는 작업은 비용이 많이 드는 작업 중 하나이다.</p>
                 
                <strong>커넥션 객체를 생성하는 과정</strong>

                <li>애플리케이션에서 DB 드라이버를 통해 커넥션을 조회한다.</li>
                <li>DB 드라이버는 DB와 TCP/IP 커넥션을 연결한다. (3 way handshake와 같은 네트워크 연결 동작 발생)</li>
                <li>DB 드라이버는 TCP/IP 커넥션이 연결되면 아이디와 패스워드, 기타 부가 정보를 DB에 전달한다.</li>
                <li>DB는 아이디, 패스워드를 통해 내부 인증을 거친 후 내부에 DB를 생성한다.</li>
                <li>DB는 커넥션 생성이 완료되었다는 응답을 보낸다.</li>
                <li>DB 드라이버는 커넥션 객체를 생성해서 클라이언트에 반환한다.</li>

                <p>이처럼 커넥션을 새로 만드는 것은 비용이 많이 들며, 비효율적이다.</p>
                 
                <p>이러한 문제를 해결하기 위해 애플리케이션 로딩 시점에 Connection 객체를 미리 생성하고, <br>애플리케이션에서 데이터베이스에 연결이 필요할 경우 미리 준비된
                    Connection 객체를 사용하여 <br>애플리케이션의 성능을 향상하는 커넥션 풀(Connection Pool)이 등장하게 된다.</p>
                 
                <p>Connection 객체를 미리 생성하여 보관하고 애플리케이션이 필요할 때 꺼내서 사용할 수 있도록 관리해 주는 것이 Connection Pool이다.</p>
                 



            </section>
            <section id="content-3">
                <article id="content-3-2"></article>
            </section>
        </section>
    </div>

    <footer id="footer">
        <section id="footer1">
            <a href="#">이용약관</a> |
            <a href="#">개인정보처리방침</a> |
            <a href="#">FAQ</a> |
            <a href="#">고객센터</a> |
            <a href="#">사이트맵</a>
        </section>
        <section id="footer2">
            <p>© 2024 전체 폼 통합. All rights reserved.</p>
            <p>이 사이트는 학습 목적으로 제작되었습니다.</p>
        </section>
    </footer>
</body>

</html>