<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <!-- 반응형 메타 태그 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 폼 통합</title>
    <link rel="stylesheet" href="../../resources/css/java/abstraction.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        <header id="header">
            <section class="header" id="header1">
                <a href="../../index.html">
                    <img src="../../resources/img/main/global_logo.jpg" id="home-logo" alt="Home Logo">
                </a>
            </section>

            <section class="header" id="header2">
                <form id="search-form">
                    <input type="text" id="search-input" class="custom-form-control" name="search-input"
                        placeholder="검색...">
                    <div id="search-btn-area">
                        <!-- <button type="submit" id="search-btn">검색</button> -->
                    </div>
                </form>
            </section>

            <section class="header" id="header3">
                <div id="login">
                    <a href="../member/login.html" onclick="login_window()">로그인</a>
                    <a href="../member/createAccount.html" onclick="">회원가입</a>
                </div>
            </section>
        </header>
        <!-- masthead -->
        <header id="masthead">
            <section class="header" id="header-img-area">
                <a href="../../index.html">
                    <img src="../../resources/img/main/bg.gif" id="home-bg" alt="Home home-bg">
                </a>
            </section>
        </header>
        <!-- masthead end -->

        <nav id="navigator">
            <ul id="navi">
                <li><a href="java.html">Java</a>
                    <ul>
                        <li><a href="oop.html">객체지향</a></li>
                        <li><a href="abstraction.html">추상화와 캡슐화</a></li>
                        <li><a href="inheritance.html">상속</a></li>
                        <li><a href="polymorphism.html">다형성</a></li>
                    </ul>
                </li>
                <li><a href="/views/oracle/oracle.html">Oracle</a></li>
                <li><a href="#">Front-End</a>
                    <ul>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">CSS3</a></li>
                        <li><a href="#">JavaScript</a></li>
                        <li><a href="#">JQuery</a></li>
                    </ul>
                </li>
                <li><a href="#">Server</a>
                    <ul>
                        <li><a href="#">JDBC</a></li>
                        <li><a href="#">Servlet</a></li>
                        <li><a href="#">JSP</a></li>
                        <li><a href="#">AJAX</a></li>
                    </ul>
                </li>
                <li><a href="#">Framework</a>
                    <ul>
                        <li><a href="#">Spring</a></li>
                        <li><a href="#">MyBatis</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <section id="content">
            <aside id="content-1"></aside>
            <section id="content-2">
                <div align="center" style="font-family: 굴림;">
                    <h1>추상화?(Abstraction)</h1>
                    <hr>
                </div>
                <div align="center">
                    <img class="java_img" src="../../resources/img/java/abstraction.png  " alt="java_img">
                </div>
                <li>세상에 있는 모든 것을 클래스를 만들고
                    그 클래스의 상태와 행동을 부여한 것으로 객체를 만든다.</li>
                <li>따라서 추상적으로 클래스를 구현하고
                    거기에 공통적인 요소나 필수적인 요소를 이용하여 만든 것이 추상클래스입니다.</li>
                <li>이 과정에서 공통적인 요소나 특징을 추출하는 과정이 추상화입니다.</li>
                <p>ex&#41; 여러 기업의 여러 자동차가 있다. 그 모든 자동차를 클래스로 만들고 모든 차에는 시동을 걸어야 간다.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;이러한 것들이 공통적인 요소나 특징이다.</p>
                <div align="center" style="font-family: 굴림;">
                    <h1>추상화의 장점?</h1>
                    <hr>
                </div>
                <li>재사용성이 높다</li>
                <ol>모델링을 통해 코드를 추상화하면 코드의 재사용성을 높일 수 있다.</ol>
                <li>가독성 좋다</li>
                <ol>코드를 추상화하였기 때문에 코드가 간결해지고 가독성이 올라간다.</ol>
                <li>생산성이 증가된다.</li>
                <ol>재사용성이 높고 가독성이 좋아 코드에 대한 이해가 빠르기 때문에 오류가 감소하고 <br>
                    유지 보수시 시간이 단축되어 생산성이 증가한다.</ol>
                <div align="center" style="font-family: 굴림;">
                    <h1>추상화의 단점?</h1>
                    <li>수정이 어렵다.</li>
                    <ol>내부에 어떠한 코드가 있는지 모르기 때문에 수정해서 사용하고 싶어도 사용하기 힘들다.</ol>
                    <hr>
                </div>
                <div align="center" style="font-family: 굴림;">
                    <h1>캡슐화란?(Encapsulation)</h1>
                    <hr>
                </div>
                <div align="center">
                    <img class="java_exe" src="../../resources/img/java/encapsulation.png  " alt="java_img">
                </div>

                <li>캡슐화 Encapsulation란 객체의 데이터(필드), 동작(메소드)을 하나로 묶고 실제 구현 내용을 외부에 감추는 것을 말한다. </li>
                <div align="center" style="font-family: 굴림;">
                    <h1>캡슐화의 특징?</h1>
                    <hr>
                </div>
                <li>외부 객체는 객체 내부의 구조를 알지 못하며 객체가 노출해서 제공하는 필드와 메소드만 이용할 수 있습니다.</li>
                <div align="center" style="font-family: 굴림;">
                    <h1>캡슐화의 장점?</h1>
                    <hr>
                </div>
                <li>코드의 안정성을 높일 수 있다.</li>
                <ol>캡슐화를 통해 외부에서 객체의 상태를 직접 접근할 수 없기 때문에 객체의 내부 상태가 변하지 않고 유지된다.
                    이로 인해 예기치 않은 상태 변경을 방지할 수 있으며, 코드의 안정성을 높일 수 있다.</ol>
                <li>객체의 내부 구현을 숨길 수 있다.</li>
                <ol>캡슐화를 통해 객체의 내부 구현이 외부에 노출되지 않기 때문에 객체를 사용하는 다른 코드에 대한 의존성을 줄일 수 있다.
                    이로 인해 코드의 유지보수성을 높일 수 있다.</ol>
                <li>코드의 재사용성을 높일 수 있다.</li>
                <ol>캡슐화를 통해 객체의 내부 구현이 외부에 노출되지 않기 때문에 객체를 다른 코드에서도 쉽게 사용할 수 있다.
                    이로 인해 코드의 재사용성을 높일 수 있다.</ol>
                <div align="center" style="font-family: 굴림;">
                    <h1>캡슐화의 단점?</h1>
                    <hr>
                </div>
                <li>코드의 이해도가 떨어질 수 있다.</li>
                <ol>캡슐화를 지나치게 하면 객체의 내부 구현을 숨기기 때문에 객체의 내부 동작을 이해하는 데 어려움을 겪을 수 있다.</ol>
                <li>객체의 상태와 동작을 접근하기 위해 추가적인 인터페이스를 작성해야 할 수도 있다.</li>
                <ol>이로 인해 코드의 복잡도가 높아질 수 있다.</ol>
            </section>
            <section id="content-3">
                <article id="content-3-2"></article>
            </section>
        </section>
    </div>

    <footer id="footer">
        <section id="footer1">
            <a href="#">이용약관</a> |
            <a href="#">개인정보처리방침</a> |
            <a href="#">FAQ</a> |
            <a href="#">고객센터</a> |
            <a href="#">사이트맵</a>
        </section>
        <section id="footer2">
            <p>© 2024 전체 폼 통합. All rights reserved.</p>
            <p>이 사이트는 학습 목적으로 제작되었습니다.</p>
        </section>
    </footer>
</body>

</html>