<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <!-- 반응형 메타 태그 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 폼 통합</title>
    <link rel="stylesheet" href="../../resources/css/java/inheritance.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        <header id="header">
            <section class="header" id="header1">
                <a href="../../index.html">
                    <img src="../../resources/img/main/global_logo.jpg" id="home-logo" alt="Home Logo">
                </a>
            </section>

            <section class="header" id="header2">
                <form id="search-form">
                    <input type="text" id="search-input" class="custom-form-control" name="search-input"
                        placeholder="검색...">
                    <div id="search-btn-area">
                        <!-- <button type="submit" id="search-btn">검색</button> -->
                    </div>
                </form>
            </section>

            <section class="header" id="header3">
                <div id="login">
                    <a href="../member/login.html">로그인</a>
                    <a href="../member/createAccount.html" onclick="">회원가입</a>
                </div>
            </section>
        </header>
        <!-- masthead -->
        <header id="masthead">
            <section class="header" id="header-img-area">
                <a href="../../index.html">
                    <img src="../../resources/img/main/bg.gif" id="home-bg" alt="Home home-bg">
                </a>
            </section>
        </header>
        <!-- masthead end -->

        <nav id="navigator">
            <ul id="navi">
                <li><a href="java.html">Java</a>
                    <ul>
                        <li><a href="oop.html">객체지향</a></li>
                        <li><a href="abstraction.html">추상화와 캡슐화</a></li>
                        <li><a href="inheritance.html">상속</a></li>
                        <li><a href="polymorphism.html">다형성</a></li>
                    </ul>
                </li>
                <li><a href="../oracle/oracle.html">Oracle</a></li>
                <li><a href="#">Front-End</a>
                    <ul>
                        <li><a href="../front-end/html5.html">HTML5</a></li>
                        <li><a href="../front-end/css3.html">CSS3</a></li>
                        <li><a href="../front-end/javascript.html">JavaScript</a></li>
                        <li><a href="#">JQuery</a></li>
                    </ul>
                </li>
                <li><a href="#">Server</a>
                    <ul>
                        <li><a href="../server/jdbc.html">JDBC</a></li>
                        <li><a href="#">Servlet</a></li>
                        <li><a href="#">JSP</a></li>
                        <li><a href="#">AJAX</a></li>
                    </ul>
                </li>
                <li><a href="#">Framework</a>
                    <ul>
                        <li><a href="#">Spring</a></li>
                        <li><a href="#">MyBatis</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <section id="content">
            <aside id="content-1"></aside>
            <section id="content-2">
                <div class="content">
                    <h1>상속이란?(Inheritance)</h1>
                    <hr>
                </div>
                <div class="content">
                    <img class="java_img" src="../../resources/img/java/inheritance.png  " alt="java_img">
                </div>
                <li>상속은 새로운 클래스를 정의할 때 이미 존재하는 클래스의 속성과 메서드를 물려받아 사용할 수 있게 해주는 기능이다.<br>
                    이 과정에서 기존 클래스를 '부모 클래스'라고 하며, 상속받는 새로운 클래스를 '자식 클래스'라고 한다.
                    자식 클래스는 부모 클래스의 특성을 상속받아, 추가적인 기능을 구현하거나 기존의 기능을 수정하여 확장된 기능을 가질 수 있다.</li>
                <div class="content">
                    <h1>상속의 종류?</h1>
                    <hr>
                </div>
                <li>클래스 상속</li>
                <ol>클래스를 확장해준다.</ol>
                <ol>extends 키워드를 사용한다.</ol>
                <ol>다중 상속이 불가능하다.</ol>
                <li>인터페이스 상속</li>
                <ol>인터페이스를 구현해준다.</ol>
                <ol>implements 키워드를 사용한다</ol>
                <ol>다중 상속이 가능하다.</ol>
                <ol>설계 목적으로 구현이 가능하다.</ol>
                <div class="content">
                    <h1>상속의 장점?</h1>
                    <hr>
                </div>
                <li>코드의 확장성, 재사용성 상승</li>
                <li>중복된 코드 제거가능</li>
                <div class="content">
                    <h1>상속의 단점?</h1>
                    <hr>
                </div>
                <li>캡슐화를 깨트린다</li>
                <ol>상위 클래스의 변경이 하위 클래스에 예기치 않은 영향을 미칠 수 있다.</ol>
                <ol>하위 클래스가 상위 클래스의 protected 멤버에 접근할 수 있어, 내부 구조에 간섭할 수 있다.</ol>
                <ol>하위 클래스가 상위 클래스의 메서드를 오버라이드하여 원래의 행동을 변경할 수 있다.</ol>
                <li>부모 클래스의 필드와 메서드를 찾는데 불편함이 있다</li>
                <ol>주로 상속 계층이 깊어질 때나 다중 상속이 이루어질 때 발생한다</ol>
                <li>상속은 결함 역시도 상속한다</li>
                
            </section>
            <section id="content-3">
                <article id="content-3-2"></article>
            </section>
        </section>
    </div>

    <footer id="footer">
        <section id="footer1">
            <a href="#">이용약관</a> |
            <a href="#">개인정보처리방침</a> |
            <a href="#">FAQ</a> |
            <a href="#">고객센터</a> |
            <a href="#">사이트맵</a>
        </section>
        <section id="footer2">
            <p>© 2024 전체 폼 통합. All rights reserved.</p>
            <p>이 사이트는 학습 목적으로 제작되었습니다.</p>
        </section>
    </footer>
</body>

</html>